<nav>
  <h1>Exclusive Clubhouse</h1>
  <div class="nav-links">
    <a href="/">Home</a>
    <% if (locals.currentUser) { %>
      <% if (!currentUser.is_member) { %>
        <a href="/membership">Unlock Membership</a>
      <% } %>
      <a href="/log-out">Log Out</a>
    <% } else { %>
      <a href="/log-in">Log In</a>
      <a href="/sign-up">Sign Up</a>
    <% } %>
  </div>
</nav>